@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url("components2/container2.css");
@import url("components2/card2.css");




body{
  font-family:'Amiri', serif;
  font-size: 18px;
  margin: 0px;
  background-blend-mode: lighten;
  background-color: white;

}

h1, h2, h3,h4 {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	text-align: center;
}


a {
  text-decoration: none;
  
}